/* src/FullScreenBackground.css */
.fullScreenBackground {
    background-image: url("https://qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure it's behind other content */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .ScreenBackground{
    background-image: linear-gradient(to bottom, transparent, black), url("https://qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png");
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure it's behind other content */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

  }